<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Virtual Mouse</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    
</head>
<body style="text-align: center;">
	<div id="menu">
		<img class="logo" src="{{ url_for('static', filename='photos/I.Teach_logo_vertical.png') }}" alt="Virtual Mouse Logo">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/virtual_mouse">Virtual Mouse</a></li>
		</ul>
	</div>
    <div id="videoOutput">
        <img id="player" src="{{ url_for('video_feed') }}" alt="cameraImage">
    </div>

</body>